* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
    background: #b3dbe8;
    color: #000;
    font-family: Merriweather, Cambria, serif;
    font-family: Pavanam, Calibri, sans-serif;
    font-size: 100%;
    margin: 0;
}

#container1 {
    max-width: 100%;
    margin: 2% auto;
    padding: 1em;
}

#container2 {
    max-width: 100%;
    margin: 2% auto;
    padding: 1em;
}

#sidebar2 {
    background: #006080;
    margin-top: 2%;
}

/* headings and text */

h1 {
    margin: 0;
    font-family: serif;
    font-size: 2em;
    text-align: center;
}

h2 {
    margin: 0;
    font-family: serif;
    font-size: 1em;
    text-align: center;
}

p {
    line-height: 100%;
    text-align: left;
    margin: 0;
    padding: 1em;
}

/* links */

a:link, a:visited, a:active {
    color: #36a862;
}

a:hover {
    color: #c80000;
}


/* special classes */

.clearfix {
    clear: both;
}

/* media queries */
@media (max-width: 800px) {
  #container {
    margin: 0;
}
  #top-image-container {
    display: none;
}

aside, article {
  width: 100%;
  margin: 0;
}

#sidebar2 {
  margin: 0;
}
}
